-#  This file is app/views/employees/manager_view_hours.html.haml
%h1 Manager View
%h3 Viewing Employee Hours
%table#Employee
  %thead
    %tr
      %th Employee
      %th Hours
      %th Status
  %tbody
  - @employee_hours.each do |emp|
    %tr
      %form{:controller => "managers", :action => "manager_view_hours/change_status",:method =>"post"}
        %td=label_tag(:user,emp.username)
        %td=label_tag(:hours,emp.hours)
        %td=emp.status
        =hidden_field :object,:id,:value =>emp.id
        %td= select_tag(:status, options_for_select([["pending",0],["approved",1],["denied",2]]))
        %td=button_to '+'