-#  This file is app/views/employees/manager_view_hours.html.haml
%h1 Manager View
%h3 Viewing Employee Hours

%table#movies
  %thead
    %tr
      %th Hours Submitted
      %th Status
  %tbody
    

